<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="finish-card-container">
			<div class="finish-card">
				<div class="logo-container" style="justify-content: center; margin-bottom: 40px;">
					<div class="logo">
						<div class="tech-club-logo"></div>
					</div>
					<div>
						<h1 class="brand-title">Logique 2025</h1>
						<div class="contest-subtitle">GraphCraft</div>
					</div>
				</div>
				<h1>Contest Complete!</h1>
				<p>Thank you for participating in the GraphCraft | Logique 2025.</p>
				<p>Results will be announced soon. Go take a well-deserved break!</p>
			</div>
		</div>
	</body>
</html>
