<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="header-container">
			<div class="timer-header">
				<div class="test-status">
					<span
						>Test <%= test_state == "RUNNING" ? "Running" :
						"Completed" %></span
					>
				</div>
				<h1 class="heading">Submissions</h1>
			</div>
			<% if (test_state == "RUNNING") { %>
			<form method="POST" action="/invigilation-end-test">
				<button type="submit" class="start-btn">End Test</button>
			</form>
			<% } else { %>
			<form method="POST" action="/verify">
				<button type="submit" class="start-btn">
					Verify Judging Files
				</button>
			</form>
			<% } %>
		</div>

		<% submissions.forEach((submission) => { %>
		<div class="problem-card">
			<h1 class="team-name">
				Submissions of Team <%= submission.teamName %>
			</h1>
			<% if (submission.team_submissions.length === 0) { %>
			<p class="no-submissions">No submissions were made by this team.</p>
			<% } else { %>
			<table class="submissions-table">
				<thead>
					<tr>
						<th style="width: 60%">Problem</th>
						<th>Submission Time</th>
					</tr>
				</thead>
				<tbody>
					<% submission.team_submissions.forEach(function(s) { %>
					<tr>
						<td><%= s.imageFilename.slice(0, -4) %></td>
						<td><%= new Date(s.timestamp).toLocaleString() %></td>
					</tr>
					<% }); %>
				</tbody>
			</table>
			<% } %>
		</div>
		<% }); %>
	</body>

	<script>
		setTimeout(function () {
			location = "";
		}, 10000);
	</script>
</html>
