<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Image Pair Scoring</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<form id="scoringForm">
			<div class="header-container">
				<div class="timer-header">
					<div class="test-status">
						<span>Judging</span>
					</div>
					<h1 class="heading">Submissions</h1>
				</div>
				<div class="final-submit-container">
					<button type="button" id="nextBtn" class="next-btn">
						Next Submission
					</button>
				</div>
			</div>
			<span id="judgingArrayLength" style="display: none"
				><%= judgingArrayLength %></span
			>

			<div class="problem-card">
				<div class="controls">
					<div class="inputs-box">
						<div
							id="val-alert"
							class="val-alert"
							style="display: none"
						>
							Check entered values
						</div>
						<div class="input-hint">Enter Score</div>
						<input
							class="input"
							type="number"
							id="score"
							name="score"
							placeholder="Enter score"
							min="0"
							required
						/>
						<div class="input-hint">Confirm Score</div>
						<input
							type="number"
							id="confirmScore"
							name="confirmScore"
							placeholder="Confirm score"
							min="0"
							required
						/>
					</div>
				</div>

				<div class="judging-table">
					<% judgingArray.forEach((judgingToken, index) => { %>
					<div
						style="display: none"
						id="<%= `image-container-${index}` %>"
					>
						<table>
							<thead>
								<tr>
									<th>Problem</th>
									<th>Submission</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td style="width: 50%">
										<img
											class="clickable-image judging-image"
											src="/<%= `problems-${currentRound}` %>/<%= judgingToken.question %>"
											alt="Image 1"
										/>
									</td>
									<td style="width: 50%">
										<img
											class="clickable-image judging-image"
											src="/<%= `judge-view-${currentRound}` %>/<%= judgingToken.teamName %>/<%= judgingToken.solution %>"
											alt="Image 2"
										/>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<% }); %>
				</div>
			</div>
		</form>

		<form id="resultsForm" method="post" action="/submit-final-scores">
			<input type="hidden" name="results" id="resultsInput" />
		</form>

		<script src="/js/judging.js"></script>
	</body>
</html>
