<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="start-container">
			<div class="instruction-card">
				<div class="logo-container logo-centered">
					<div class="logo">
						<div class="tech-club-logo"></div>
					</div>
					<div>
						<h1 class="brand-title">Logique</h1>
						<div class="contest-subtitle">GraphCraft Selection Test</div>
					</div>
				</div>
				<h1>Scoring Methods and Criteria:</h1>
				<p>
					You will be given a series of patterns to recreate on
					Desmos:
				</p>
				<ol class="instructions">
					<li>Download problem images by clicking on them</li>
					<li>Create accurate solutions in Desmos</li>
					<li>Upload your desmos file (.des format)</li>
					<li>Click "Submit" to proceed</li>
					<li>
						After submitting your solutions to the desired problems,
						click "Final Submit"
					</li>
				</ol>
				<div class="test-info">
					<h3>Round Transition</h3>
					<p>Prepare for the next round. Wait for administrator instructions before proceeding.</p>
				</div>
			</div>
			<div class="card-container">
				<div class="card">
					<h1 class="login-head">
						Wait for Administrator's instruction
					</h1>

					<form id="redirectForm" method="POST" action="/next-round">
						<div class="btn-container start-btn-container">
							<button type="submit">Next Round</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
