<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	<body>
		<div class="header-container">
			<div class="timer-header">
				<div class="test-status">
					<span>Judging Complete</span>
				</div>
				<h1 class="heading">Scores</h1>
			</div>
			<form method="POST" action="/check-qualifiers">
				<button type="submit" class="start-btn">Next</button>
			</form>
		</div>

		<table class="submissions-table">
			<thead>
				<tr>
					<th>Team Name</th>
					<% questions.forEach((fileName) => { %>
					<th><%= fileName.slice(0, -4) %></th>
					<% }); %>
					<th>Score</th>
				</tr>
			</thead>
			<tbody>
				<% finalisedScores.forEach((scoreToken, index) => { %>
				<tr>
					<td><%= scoreToken.teamName %></td>
					<% questions.forEach((fileName) => { %>
					<td><%= scoreToken.problemScores[fileName] %></td>
					<% }); %>
					<td><%= scoreToken.score %></td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</body>
</html>
